@import '../../global.scss';

.team-add{
  .team-form{
    @include flex();
    flex-direction: column;
    padding: 3rem;
    .upload-img{
      width: 150px;
      height: 150px;
      border: .5px dashed gray;
      background-color: rgba(128, 128, 128, 0.233);
      position: relative;
      margin-bottom: 2rem;
      label{
        position: absolute;
        width: 100%;
        height: 100%;
        // bottom: -70px;
        color: #fff;
        font-size: 4rem;
        color: $color-yellow;
        svg{
          position: absolute;
          bottom: -20px;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    input{
      width: 400px;
      border: .5px solid rgb(206, 206, 206);
      background-color: #fff;
      padding: 10px;
      margin: 5px 0;
      @include mobile {
        width: 300px;
      }
    }
    button{
      margin-top: 1rem;
      background-color: $color-dark-blue;
      color: #fafafa;
      padding: 1rem 3rem;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      @include mobile {
        font-size: 14px;
      }
      &:hover{
        background-color: $color-dark;
      }
    }
  }
}